@model List<Yazi>
@{
    ViewBag.Title = "Ana Sayfa";
}

<h1>Blog Yazılarım</h1>

<!--Section: Cards-->
<section class="text-center mt-3">

    <!--Grid row-->
    <div class="row mb-4 wow fadeIn">

        @foreach (Yazi yazi in Model)
        {
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img src="~/Images/@yazi.Foto" class="card-img-top"
                             alt="">
                        <a href="@Url.Action("Yazi", "Home", new { id = yazi.Id })">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">@yazi.Baslik</h4>
                        <!--Text-->
                        <p class="card-text">
                            @yazi.KisaAciklama
                        </p>
                    </div>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->
        }

    </div>
    <!--Grid row-->
    <!--Pagination-->
    <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

            <!--Arrow left-->
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <li class="page-item active">
                <a class="page-link" href="#">
                    1
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">5</a>
            </li>

            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    <!--Pagination-->

</section>
<!--Section: Cards-->